<footer>
    <div class="container">
        <p>&copy; <span id="year"></span> Instagram & YouTube Downloader. Tous droits réservés.</p>
        <p>Développé par [Votre Nom]</p>
        <ul class="social-links">
            <li><a href="https://github.com/[VotreProfil]" target="_blank">GitHub</a></li>
            <li><a href="https://twitter.com/[VotreProfil]" target="_blank">Twitter</a></li>
            <li><a href="https://linkedin.com/in/[VotreProfil]" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</footer>